* {
    margin: 0px;
    padding: 0px;
}
body {
    padding: 30px;
    background-image: url(./images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-color: hsl(257, 40%, 49%);
}
.huddle-container {
    margin: auto;
    max-width: 100%;
    .logo {
        width: 130px;
    }
    .logo-container {
        margin-bottom: 50px;
    }
    .image { 
        width: 100%;
    }
    h2 {
        font-family: 'poppins';
        text-align: center;
        font-weight: 600;
        margin-top: 50px;
        color: white;
    }
    p {
        font-family: 'open sans';
        text-align: center;
        font-weight: 400;
        margin-top: 20px;
        color: white;
        margin-bottom: 20px;
    }
}
button {
    display: block;
    margin: 0px auto;
    border-radius: 50px;
    padding: 10px;
    width: 250px;
    border-radius: 999px;
    border: none;
}